.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    text-align: center;
    color: black;
}

.container .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}


.container .card .card-image .card-title {
    color: black;
    height: 40px;
    font-size: 30px;
}

.proximante {
    font-size: 30px;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    font-family: Montserrat;
	font-weight: normal;
	color: #7a7569;
}

.btn {
    background-color: #f7ba11;
}

.btn:hover {
    background-color: #f7ba11;
}

