.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo{
    padding: 50px;
}

.center{
    width: 50%;
}

.full-width {
    height: 100%;
    min-height: 1000px !important;
}

