.page-footer {
    background-color: #f4f4f4;
    width: 100%;
}
.page-footer .container {
    display:grid;   
}
.titulo-contacto {
    color: black;
    align-content: center;
}
 .iconos-contacto { 
    display:grid;
    justify-content:left;
 }

.justify-text {
    text-align: justify;
}


a{
    color: #635f5f;
}

